.root {
  background-color: ghostwhite;
}

.toolbar {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
}

.main {
  padding: 2rem 4rem;
  margin-top: 2rem;
  min-height: 100vh;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}