.root {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  background-color: ghostwhite;
}

.toolbar {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
}

.main {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  min-height: 100vh;
  height: fit-content;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.footer {
  display: flex;
  justify-content: center;
  height: 10rem;
}